*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../imgs/background.jpg"); 
    background-size:cover; 

    }
    h1{
        color: black;
        font-size: 50px;  
    }
    h2{
        color: black;
        font-size: 40px;  
    }
    caption{
        text-align: left;
        font-size: 25px;
    }
    input {
        color: black;
        font-size: 25px;
        height:  1cm;
        width: 5cm;
    }

div{
    color: black;
}
a{
        text-decoration: none;
        color: black;   
        font-size: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    width: 100%;
}
header .logo{
    font-size: 30px;
}
header ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
    list-style: none;
}
header ul li{
    margin-right: 30px;
} 
header ul li a{
    padding: 6px 15px;
    border-radius: 30px; 
}
header ul li a:hover , .Active{
    background:#000; 
    color: white;
}
table{

    width: 85%;
    border: 1px solid #ccc;
    border-spacing: 1px ;
}
table td{
    padding: 15px;
    background-color: #eee;
    border: 1px solid #000;
}
table th{
    padding: 20px;
    background-color: rgb(57, 26, 106);
    color: white;
    font-weight: bold;
    text-align: center;
}